<template>
	<lightning-card>
		<lightning-record-form
			object-api-name={objectApiName}
			fields={objectFields}
			onsuccess={handleSuccess}>
        </lightning-record-form>
	</lightning-card>
</template>